<style>
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        display: flex;
    }

    .sidebar {
        width: 200px;
        background-color: #526D82;
        height: calc(100vh - 2px);
        position: fixed;
        padding-top: 0px;
        overflow: auto;
        top: 0px;
    }

    .sidebar ul {
        list-style-type: none;
        padding: 5px;
    }

    .sidebar li {
        color: white;
        padding: 10px;
        position: relative;
    }

    .sidebar li a {
        color: white;
        text-decoration: none;
    }

    .sidebar li:hover {
        background-color: #34495e;
    }

    .submenu {
        display: none; /* Initially hide the submenu */
        padding-left: 20px; /* Indent the submenu */
        margin-left: 20px; /* Additional space to the left */
        padding-top: 5px;
    }

    .submenu li {
        padding: 5px 0; /* Space between submenu items */
    }

    .content {
        margin-left: 200px; /* Adjusted content margin to match sidebar width */
        padding: 20px;
        width: calc(100% - 200px); /* Adjusted content width */
    }

    form div {
        display: block; /* Ensure each div is displayed */
        margin: 10px 0; /* Add some margin for spacing */
    }

    .hidden {
        display: none; 
    }

</style>
