<!-- templates/mysite/add_expense.html -->
{% extends 'base.html' %}

{% block content %}
    <h1>Add Expense</h1>

    <form method="post">
        {% csrf_token %}
        
        <div>
            {{ form.date.label_tag }}<br>
            {{ form.date }}  <!-- This will render the DateInput -->
        </div>
        <div>
            {{ form.party.label_tag }}<br>
            {{ form.party }}
        </div>
        <div>
            {{ form.particulars.label_tag }}<br>
            {{ form.particulars }}
        </div>
        <div>
            {{ form.invoice_number.label_tag }}<br>
            {{ form.invoice_number }}
        </div>
        <div>
            {{ form.amount.label_tag }}<br>
            {{ form.amount }}
        </div>
        <div>
            {{ form.bank_or_cash.label_tag }}<br>
            {{ form.bank_or_cash }}  <!-- This will render the ChoiceField -->
        </div>        
        <div>
            {{ form.igst_percentage.label_tag }}<br>
            {{ form.igst_percentage }}  <!-- Updated to reflect percentage field -->
        </div>
        <div>
            {{ form.cgst_percentage.label_tag }}<br>
            {{ form.cgst_percentage }}  <!-- Updated to reflect percentage field -->
        </div>
        <div>
            {{ form.kgst_percentage.label_tag }}<br>
            {{ form.kgst_percentage }}  <!-- Updated to reflect percentage field -->
        </div>
        <div>
            {{ form.tds_percentage.label_tag }}<br>
            {{ form.tds_percentage }}  <!-- Updated to reflect percentage field -->
        </div>
        
        <button type="submit">Add Expense</button>
    </form>
{% endblock %}