{% extends 'mysite/base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Dashboard{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <!-- <style>
        /* Additional CSS for dashboard layout */
        .content {
            padding: 20px; /* Padding for content */
        }
    </style> -->
</head>
<body>
    

    {% block content %}
    <div class="content">
        <h1>Welcome to the Dashboard</h1>
    </div>
    {% endblock %}
</body>
</html>
