{% extends 'base.html' %}

{% block content %}
    <h1>Create Invoice</h1>

    <form method="post">
        {% csrf_token %}
        <div>
            {{ form.date.label_tag }}<span style="color: red;">*</span><br>
            {{ form.date }}
        </div>
        <div>
            {{ form.company_name.label_tag }}<span style="color: red;">*</span><br>
            {{ form.company_name }}
        </div>
        <div>
            {{ form.address.label_tag }}<span style="color: red;">*</span><br>
            {{ form.address }}
        </div>
        <div>
            {{ form.description.label_tag }}<span style="color: red;">*</span><br>
            {{ form.description }}
        </div>
        <div>
            {{ form.amount.label_tag }}<span style="color: red;">*</span><br>
            {{ form.amount }}
            {% if form.amount.errors %}
                <div class="error" style="color:red;">{{ form.amount.errors.0 }}</div>
            {% endif %}
        </div>
        <div>
            {{ form.gst_applicable.label_tag }}<span style="color: red;">*</span><br>
            {{ form.gst_applicable }}
        </div>
        
        <button type="submit">Generate Invoice</button>
    </form>
{% endblock %}

